---
type Image = {
  source: string;
  alt: string;
};

type Card = {
  cover: Image;
  title: string;
  description: string;
  techs: Image[];
};

const { cover, title, description, techs } = Astro.props as Card;
---

<div class="card">
  <img src={cover.source} alt={cover.alt} />

  <div>
    {
      techs.map((item) => (
        <img src={item.source} alt={item.alt} width="40" height="40" />
      ))
    }
  </div>

  <p style="font-weight: bold;">{title}</p>
  <p style="font-style: italic;">{description}</p>
</div>

<style>
  .card {
    border: 0px solid transparent;
    border-radius: 4px;
    box-shadow: 0 0 8px var(--color-tiffany-blue);
  }

  .card > img {
    max-width: 100%;

    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
  }

  .card > div,
  p {
    padding-inline: 1em;
  }
</style>
