---
type Image = {
  source: string;
  alt: string;
};

type Card = {
  cover: Image;
  title: string;
  description: string;
  techs: Image[];
};

const { cover, title, description, techs } = Astro.props as Card;
---

<div class="card">
  <img class="card__cover" src={cover.source} alt={cover.alt} />

  <div class="card__body">
    <div class="card__icons">
      {
        techs.map((item) => (
          <img src={item.source} alt={item.alt} width="40" height="40" />
        ))
      }
    </div>

    <p style="font-weight: bold;">{title}</p>
    <p style="font-style: italic;">{description}</p>
  </div>
</div>

<style>
  .card {
    border: 0px solid transparent;
    border-radius: 4px;

    box-shadow: 4px 8px 8px hsl(0deg 0% 0% / 0.38);
  }
  .card__cover {
    max-width: 100%;

    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
  }
  .card__body {
    padding-inline: 1em;
  }
  .card__icons > img {
    border-radius: 50%;
  }
</style>
