---
type Image = {
  source: string;
  alt: string;
};

type Card = {
  cover: Image;
  title: string;
  description: string;
  techs: Image[];
};

const { cover, title, description, techs } = Astro.props as Card;
---

<div class="card">
  <img loading="lazy" class="image" src={cover.source} alt={cover.alt} />

  <div class="body">
    <div class="icons">
      {
        techs.map((item) => (
          <img
            loading="lazy"
            src={item.source}
            alt={item.alt}
            width="35"
            height="35"
          />
        ))
      }
    </div>

    <p class="title">{title.toUpperCase()}</p>
    <p class="description"><em>{description}</em></p>
  </div>
</div>

<style lang="scss">
  @import "../styles/base.scss";

  .card {
    border: 0px solid transparent;
    border-radius: $radii-base;

    box-shadow: 4px 8px 8px hsl(0deg 0% 0% / 0.38);

    .image {
      max-width: 100%;

      border-top-right-radius: 2px;
      border-top-left-radius: 2px;
    }
    .body {
      padding-inline: $space-2;
      padding-block: $space-2;

      .icons {
        padding-block-end: $space-2;

        img {
          border-radius: $radii-full;
        }
      }
      .title {
        font-weight: $fontweights-bold;
        font-size: $fontsizes-lg;

        padding-block-end: 0.25em;
      }
    }
  }
</style>
