---
export interface Props {
  title: string;
  variant: "solid" | "outline";
  href?: string;
  target?: "_blank" | "_parent" | "_self" | "_top";
  rel?:
    | "alternate"
    | "author"
    | "bookmark"
    | "external"
    | "help"
    | "license"
    | "next"
    | "nofollow"
    | "noreferrer"
    | "noopener"
    | "prev"
    | "search"
    | "tag";
}

const { href, title, target, rel, variant } = Astro.props;
---

<div>
  <a class={`button ${variant}`} href={href} target={target} rel={rel}>
    {title}
  </a>
</div>
